.slider {
  position: relative;
  border: 1px solid #ccc;
  overflow: hidden;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 30px;
  line-height: 1.24em;
  color: #333;
}
.slider.fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: auto !important;
  height: auto !important;
  border: none;
}
.slider-container {
  position: absolute;
  margin: -375px 0 0 -500px;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.slider h1,
.slider h2,
.slider h3,
.slider h4,
.slider h5,
.slider h6 {
  line-height: 1.2em;
}
.slider h1 {
  font-size: 2.2em;
  margin: 0 0 0.26em 0;
}
.slider h2 {
  font-size: 1.7em;
  margin: 0 0 0.3em 0;
}
.slider h3 {
  font-size: 1.37em;
  margin: 0 0 0.31em 0;
}
.slider h4 {
  font-size: 1.2em;
  margin:  0 0 0.37em 0;
}
.slider h5 {
  font-size: 1.02em;
  margin:  0 0 0.4em 0;
}
.slider h6 {
  font-size: 0.86em;
  margin:  0 0 0.5em 0;
}
.slider p {
  margin: 0.34em 0 0.5em 0;
  padding: 0;
}
.slider ul, ol {
  margin: 0.34em 0 0.5em 0;
}
.slider li {}
.slider a {
  color: #3a93de;
  text-decoration: underline;
}
.slider a:hover {
  text-decoration: none;
}
.slider pre {
  margin: 0.34em 0 1em 0;
  border: 1px solid #ccc;
  background: #efefef;
  font-size: 0.8em;
  line-height: 1.24em;
  padding: 0.5em 1em;
  position: relative;
}
.slider pre:before {
  content: "Source code";
  position: absolute;
  top: 0.5em;
  right: 1em;
  color: #ddd;
  font-size: 0.8em;
}
.slider blockquote {
  position: relative;
  margin: 0.34em 0 1em 0;
  font-style: italic;
  color: #666;
  padding: 0 0 0 2em;
}
.slider blockquote:before {
  content: "”";
  position: absolute;
  left: 0;
  top: 0;
  color: #cccccc;
  font-size: 3em;
  line-height: 1em;
}
.slider figcaption {
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}
.slider-controls {
  padding: 4px 5px;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  opacity: 0.4;
  background: #efefef;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
.slider-controls:hover {
  opacity: 1;
}
.slider.fullscreen .slider-controls {
  right: 50%;
  margin-right: -61px;
  border-right: 1px solid #ddd;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.slider-select,
.slider-next,
.slider-prev,
.slider-fullscreen {
  height: 18px;
  display: block;
  margin: 0;
  float: left;
}
.slider-next,
.slider-prev,
.slider-fullscreen {
  width: 18px;
  overflow: hidden;
  text-indent: 9999px;
  background-repeat: no-repeat;
  background-position: center;
}
.slider-next {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAdJJREFUeNqkk88rRFEUx7/3zZsZr8HCRnYoPxZKU0IpoWlk4R+Yyc7CRjZkWBAbLJQooYTSlAVlYUGDxWxJ/gALIqFhxvwwmnlz3XPfTIaZQTl13j3vvvP5vvPOO5dxztExcQQwxfBc6xV+I/wys8ESUSB0J/NV/G4VaUdGhKsaUFYN9vYC5Q8C8I52rYqlRXhj9j4vKs2pgBJavwu8hN+kiGvuZCC7ErJsATt4qm3AUbVUU1kORWEwkZsY3pM6rh+DJLLimvUNilyq/ALpgKxJwJ1ej2MpHInh8TmKQCiGYDSOUCyO90RSCt4GQqAcypVMRoDFAkPOOm1+c8+Pp+cgzGYFFosJqsrAGJOwWGR8HwzDO+acB9cd1BcpwK0lV93tdtgbatFsry8IGzHDw2sE3vGeGaT0HqMHKb2IHv705gxM9+WlxXBN788J8tjoAU9q1LA/w1O7i+ITDgXplxUwPVli0ywCpmmEAcIA6JLQdekEuyd2NoTYAVdMp5+/MREN9E9u+QoN0tpUn6PMpsHtWfcJwQOYbUdf54DzEdGHPCin/pzZrBa4h5fPxcYWVOtudsYPoyxhGaXhBeHb37MKH6bPigj254Nl/+g4/8c+BBgA+jCeUrYHPHsAAAAASUVORK5CYII=);
}
.slider-prev {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeNJREFUeNqkU99LFFEU/u7M7DbTutYG9lav4lNEC1o9RLFsCP4F7mNgkIQ+CCmIoU8KClEg60MUlEs9GEQkJEaCPfQS4YsPQhSCiC3q2P5Ip7n3eu7MqNs6Gwse+ObeA+f77vnunMtuDM4CTCdoPo7iEuEi4R2qQwoPCyNpGAgPRW5FHaHVIuce3JqqR8AIIbcROWsXd1XOCHerar4QlsIELpOv67n+1JPVvI2oYWCy+1qWCwnOBQSXWPm5gez8j/tB598qLSSJfFOR17Z+gzEGx3Vhl3axQ9gu/EHeLqNQLEPVqFqPEwi0QvJUbiA9sW4XPLKmsWCFt49EdESjGvJbNp6/WUS62Zpg5c0e34Lg7bnBjoe/CkWvWFDLyroiC6EE/FyJXE22wHEEmhKnMbe8893vQPCPnSNvx87HG+hUBKfjv53otCeeeWBhkSx86ByeeVyviKZTIl2r4hLlJyb4+8zQ62cHImbEQKN1ysOZmImzMQuJBhPnGi3EzAgYd+P//kYp5/C3FM/0P70wPXonVXIcdA29mK85QYxtHh8kKWfg7lmZvsnE9Pi9K7RPUL9Jf56qZ1gPnUQVL9WHRHq9TPCgmIW/hdufX5EM3Uc0RqtZKfKI8PVQpJYTKSVOEvsCDADalKlTBARLPgAAAABJRU5ErkJggg==);
}
.slider-select {
  font-size: 13px;
  border: 1px solid black;
  padding: 0;
  margin: 0 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
}
.slider-fullscreen {
  margin: 0 0 0 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZhJREFUeNqkU71OwzAQviSO3aa/KgMMCCkbbxEPFSsDA2+A2JiQeASk8gQMvAFILMzJeyBVYkDqgpqmSbHzx9mhVVFJO/QkS8758n3ffT4bZVnCPkGu7r80gmEYQZalPEkSSNN0o9C2bXAcBwixfST1VO7xbmCQxSLBn81AiG+e53ktkwINwxAsy+KMNRCkQJABEGQMkJ1jwYVpmiOsdbcoHmPdLRJxVOHrFoqi4LNZqPajm8u+e3piIJsEIQRImUJRqCMLmRvw/mm5T2+RInnudntcA4ThFObzSO1dByIYj3NQrWRZtrFUPoqOtcKl+WQymaz0DYfnsO1WsFV4eHnV+zhOKgAh0j9GFZXmfwM9gvV6DVCW5upDSqml1t45IbBer3OOc4Co8QpArbqglGozVTDWqgAY6yGqAUtjVJ91oc4pbf8CdCsAHCK/0znkUsbB2fWHt2t0GWsHlLawVaHmgKOCtqdAMMkXi+nO2W82+2h05luWrclMJcm2HY8QhkqO0ChaYyCF6pz5qn7ZirHvazRhz/gRYADvXMSYQ89tYAAAAABJRU5ErkJggg==);
}
.fullscreen .slider-fullscreen {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAcFJREFUeNqkUz1LxEAQnf243CV6cgiC3ImQTrDQQhBsNCBiZ2FhbWfnD9Hf4D9QsLGNFoKChYJ2foBgGlHEYM5kb3edWbjDO4nNDQzZnZl9efNml1lrYRhjy9vnUK+PgZQShBAQBAH4ftBE4JdeEWOtdjtLsiwDrTV0Oh1I0084PVgCOYhIRehJtVqLOGexMTbK8++kjAHvLowxm4j+iG7Js+wrDict0LcbozzV/QaQSM1RR9vb3WqEM9MMlCogz3Moig9Yn6OUwJoa3CciPDhJ9zBwSOccQJ4XTa0/Es55GEAKT0+61+egUzxNp0JkgXvdxPOJVEq9IAj1C6urG/DfVFBM2D86xnbtCulDIWSgKBcvzk0gdUValAIgS5ifacDlzWvc08Ba0tFGF9dvcVEUjmqZ0aixjn4coTsQyZhocS4SGggBkJeZ53lOTJzZqTG65QCE8JJKZcQVUP/UZ5lR3vNG3VqpL3c3ZKXiYzDAg/xsbed5+feBhdk6XN2lfSDV6uiZtaST6b9ICIDKSkaOgMz3G9HtAwP60r6bo7o+XQZpBsE49unhWzBdpWOk3dK6wLfw/ne0w75GDkPajwADAL9F8C+xZcXQAAAAAElFTkSuQmCC);
}
.slider-item {
  margin: 0;
  padding: 1.5em 2.2em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 90;
  display: none;
}